# Handle line endings automatically for all files detected as text
* text=auto

# Explicitly declare files that must always use LF (like bash scripts)
*.sh text eol=lf

# Explicitly declare files that must always use CRLF (like Windows batch files)
*.bat text eol=crlf

# Denote binary files (so Git doesn't touch their line endings)
*.jpg binary
*.png binary


*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
